.favorites {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #1f3254;
}

.favorites-item {
  line-height: 35px;
  border-bottom: 1px solid #ccc;
  padding: 0 20px;
}

.favorites-item > span {
  float: right;
  cursor: pointer;
}
